.About {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 18em;
    height: auto;
  }
  .Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: var(--ff-Sarala);
      color: #17c47f;
    }
    p {
      margin: 0;
      padding: 0;

      text-align: justify;
      font-family: var(--ff-Sarala);
      color: #ffffffc2;
    }
  }
}

@media (max-width:927px) {
  .About {
    flex-direction: column;
    img {
      width: 12em;
    }
    .Info {
      gap: 0.5em;
      width: 90vw;
      h1 {
        font-size: 1.6em;
      }
      p {
        font-size: 0.9em;
      }
    }
  }
}
@media (min-width: 927px) {
  .About {
    flex-direction: row;
    gap: 12px;
    img {
      width: 18em;
    }
    
    .Info {
      gap: 2em;
      width: 34em;
      h1 {
        font-size: 3.1em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}
