@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.logos a, .logos .bi, .logos svg{
  cursor: pointer;
  font-size: 20px;
  color: var(--Text-Color-1);
  transition: 0.2s ease-out;
}
.logos .bi:hover,
.logos a:hover,
.logos svg:hover {
  transition: 0.2s ease-in;
  color: var(--icon-H-Color-1);
}
.logos img {
  background-color: #0000;
}
@media (min-width: 300px) {
  .contacto {
    margin-bottom: 20px;
  }
  .contacto .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .contacto .logos a{
    width: 30px;
    height: 30px;
    color: #1f9c78;
    transition: 0.2s ease-in;
  }
}

.Designed {
  font-size: 20px;
  font-family: var(--ff-Sarala);
  text-align: center;
  color: var(--icon-Color-1);
  padding: 23px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
    color: #fff9;

}

.Designed a {
  text-decoration: none;
}

.Designed a:hover {
  color: #1fdfa8;
}
.contacto{
  padding-top: 30px;
}

@media (min-width: 992px) {
  .contacto {
    display: flex;
    gap: 14px;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 15px;
  }
  .contacto .logos {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 9px;
    flex-direction: column;

    margin-bottom: 10px;
    justify-content: space-evenly;
  }
  .contacto .logos a,.contacto .logos .bi, .contacto .logos svg{
    width: 20px;
    height: 20px;
    font-size: 20px;
    transition: 0.2s ease-in;
  }
  .contacto .logos a:hover, .contacto .logos .bi:hover , .contacto .logos svg{
    margin-bottom: 25px;
  }
  .contacto .logos a .bi:hover, .contacto .logos .bi:hover  {
    font-size: 30px;
  }

  .contacto .logos a :hover , .contacto .logos .bi :hover {
    width: 35px;
    height:35px;
    font-size: 35px;
  }
}
