@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@100;200;400&family=Cormorant+Garamond:wght@300;400&family=Dosis:wght@300;400;500&family=Great+Vibes&family=Karla:wght@200;300;400&family=Kaushan+Script&family=Nunito:wght@300;400&family=PT+Sans&family=Roboto:wght@300;400&family=Rubik:wght@300;400&family=Sarala&family=Titillium+Web:wght@300;400&family=Ubuntu:wght@300;400&display=swap');
:root{
  /*  --ff-Regular-Osans:  "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif !important;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-Dosis:  'Dosis', sans-serif;
    --ff-Karla:  'Karla', sans-serif;
    --ff-Pt-Sans:'PT Sans', sans-serif;
    --ff-Roboto:  'Roboto', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
    --ff-titill: 'Titillium Web', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --ff-kaushan:  'Kaushan Script', cursive;
    --ff-alata: 'Alata', sans-serif;
    --ff-GT-Wal: ' GT Walsheim Medium', sans-serif;
    --ff-Imprima: 'Imprima' normal 400;*/
    --ff-Alan-Cur: 'Allan', cursive;
    --ff-Sarala:   'Sarala', sans-serif;

}