
  body {
      --Color-bg-Prin: #0f172a;
    --Text-Color-1: #ffffffc6;
    --Logo-Color: #ffffff;
    --icon-Color-1: #47ddc7;
    --icon-H-Color-1: #48d07e;
    --skill-t-hover: #dce2e60c;
    --D-Color-Tex-Green-White: #fff;
  }
